footer.footer
  .container
    .row
      .col-xs-12.col-sm-4
        .footer-title Обо мне
        .footer-description Вас приветствует сайт художника–живописца, преподавателя Анны Королюк. Я профессиональный художник–живописец, веду творческую и педагогическую деятельность. В сфере изобразительного искусства работаю более 10 лет. В своём творчестве не ограничиваю себя и люблю работать в разных техниках и жанрах. Также занимаюсь мастер–классами как по живописи и рисунку, так и по декоративному творчеству.
      .col-xs-12.col-sm-4
        .footer-title О мастерской
        .footer-description В этой онлайн мастерской вы можете увидеть примеры моих творческих работ и заказать картину. Я работаю без посредников, поэтому вы делаете заказ непосредсвенно у самого художника. Сроки исполнения от одной недели, всё зависит отобъёма работы. Вы также можете купить уже готовую картину, если она есть в наличии. Цены и все интересующие вас вопросы в телефонном или электронном режиме.
      .col-xs-12.col-sm-4
        .footer-title Контакты
        ul.footer-contacts
          li.footer-contacts-item
            span Телефон: 
            a(href='tel:+380507042449')
              span +38-050-70-42-449
          li.footer-contacts-item
            span Email: 
            a(href='mailto:artbarocco12@rambler.ru')
              span artbarocco12@rambler.ru
        .footer-social
          a.btn.btn-margin-right.btn-social-icon.btn-facebook(href='https://www.facebook.com/groups/1101082183301702/', target='_blank')
            span.fa.fa-facebook
          a.btn.btn-margin-right.btn-social-icon.btn-vk(href='https://vk.com/club126365799', target='_blank')
            span.fa.fa-vk
