<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Новое изображение</h4>
    <li (click)="cancel()" class="fa fa-times ig-btn size-md close-btn pull-right"></li>
  </div>
  <div class="modal-body">
    <div *ngIf="errorMessage" class="alert alert-warning" role="alert">{{errorMessage}}</div>
    <input type="file" accept="image/*" (change)="onFileChange($event.srcElement.files)">
  </div>
  <div class="modal-footer">
    <ig-flat-button [text]="'Загрузить'" (click)="save()" [attr.disabled]="!file"></ig-flat-button>
    <ig-flat-button [text]="'Отменить'" (click)="cancel()"></ig-flat-button>
  </div>
</div>
