.navbar {
  margin-bottom: 20px;
}
.navbar-brand {
  padding: 0;
}
.section-navigator {
	margin-bottom: 20px;
}
.header-panel {
	background-color: #0B1216;
  color: #fff;
}
.navbar-nav > li > a:focus {
    background-color: inherit;
}
.navbar .navbar-nav .show > a,
.navbar .navbar-nav .show > a:hover,
.navbar .navbar-nav .show > a:focus,
.navbar-nav > li > a:hover,
.navbar-nav a:hover {
	background-color: inherit;
	color: #55C594;
}
.navbar > a,
.navbar-nav a,
.navbar-nav .nav-item,
.navbar-nav > .dropdown > ul {
	background-color: #0B1216;
	color: #fff;
}
.navbar-nav > .dropdown > ul a {
	color: #fff;
}
.dropdown-menu > li > a {
  padding: 3px 20px;
  white-space: nowrap;
  line-height: 1.8rem;
}
.navbar a:hover,
.navbar a:focus {
	color: #55C594 !important;
	background-color: inherit !important;
}