doctype html
html(lang='ru', ng-app="portfolio")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(name="keywords", content="")
    meta(name="description", content=description)
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='/js/angular.js')
    script(src='/js/angular-route.js')
    script(src='/js/bootstrap.js')
    script(src='/js/imageView.js')
    script(src='/app/app.js')
    script(src='/app/config.js')
    script(src='/app/modules/gallery.js')
    script(src='/app/components/gallery.js')
body
  header.header-panel
    nav.navbar.p-nav-top.container
      .navbar-header
        a.navbar-brand(href='/') Художник Анна Королюк
        button.navbar-toggle.collapsed.glyphicon.glyphicon-align-justify(type='button', data-toggle='collapse', data-target='#nav-menu')
      #nav-menu.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(id="gallery-menu", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Галерея
              span.caret
            ul.dropdown-menu(aria-labelledby="gallery-menu")
              li
                a(href='/Gallery#!/Gallery?section=Painting') Авторские работы
              li
                a(href='/Gallery#!/Gallery?section=Modular') Модульные картины
              li
                a(href='/Gallery#!/Gallery?section=Copies') Копии картин
              li
                a(href='/Gallery#!/Gallery?section=Handcraft') Декоративное творчество
          li
            a(href='/PricesAndDelivery') Цены и доставка
  .container.content
    block content
  include includes/footer-default
