extends layout

block content
	section.row
		.col-md-12
			p.alert.alert-info Заказы выполняются по 40%-ой предоплате путём перевода на карту банка.
			p.alert.alert-info
				|Цена заказа всегда зависит от формата картины, темы исполнения и расхода
				| материалов. Звоните или пишите, отвечу на все интересующие вас вопросы.
				| Доставка по Украине осуществляется через почту наложенным платежом.
		.col-xs-12.col-sm-8.col-md-6.hidden-xs
			img.img-responsive.img-rounded(src="/images/About.jpg" alt="Художник Анна Королюк")
		.col-xs-12.col-sm-4.col-md-6
			ul.prices-list
				li.prices-list-item
					a(href='/Gallery#!/Gallery?section=Painting') Авторская живопись
					span  от 500 гривен
				li.prices-list-item
					a(href='/Gallery#!/Gallery?section=Modular') Модульные картины
					span  от 800 гривен
				li.prices-list-item
					a(href='/Gallery#!/Gallery?section=Handcraft') Декоративная роспись
					span  от 300 гривен
				li.prices-list-item
					a Мастер–классы
					span  от 300 гривен
