section.row
  .col-sx-12.col-sm-6.col-md-4(ng-repeat='image in $ctrl.images')
    image.img-responsive.centered.gallery-img(ng-src="{{image.previewpath}}", data-imagesrc="{{image.path}}", data-toggle="modal" data-target="#imageView")
