<div class="container content">
  <section class="row">
    <div class="tool-panel">
      <ig-icon-button [icon]="filterMenuHidden ? 'fa-filter' : 'fa-times'" [title]="'Фильтр'" (click)="toggleFilterMenu()"></ig-icon-button>
      <ig-icon-button *ngIf="canUpload" [icon]="'fa-upload'" [title]="'Добавить изображение'" (click)="uploadImage()"></ig-icon-button>
    </div>
    <ig-category-filter (filterChanged)="updateFilter($event)" [class.collapse]="filterMenuHidden"></ig-category-filter>
  </section>
  <section class="row">
    <div *ngIf="imagesCollectionIsEmpty" class="col-12 alert alert-warning" role="alert">Изображения соответствующей категории не найдены!</div>
    <div *ngIf="errorMessage" class="col-12 alert alert-danger" role="alert">{{errorMessage}}</div>
  </section>
  <section class="row">
    <div *ngFor="let image of images; trackBy: trackByImages" class="col-6 col-sm-4 col-md-3 gallery-list-item">
      <ig-image-card [allowEdit]="canEdit" [allowDelete]="canDelete" (imageClick)="viewImage($event)" (editClick)="editImage($event)" (deleteClick)="deleteImage($event)" [image]="image"></ig-image-card>
    </div>
    <div *ngIf="images.length && hasMoreImages" class="col-6 col-sm-4 col-md-3 gallery-list-item">
      <div class="ig-btn text--centered" (click)="loadNextPage()">
        <i class="fa fa-refresh margin-md size-rel-xxl spinning-360" aria-hidden="true"></i>
        <div class="size-rel-md">
          <span>показать ещё</span>
       </div>
      </div>
    </div>
  </section>
</div>